#step-bar-container {
  position: fixed;
  bottom: 0%;
  width: 80%;
  height: 8%;
  left: 5%;
}

.circle {
    display: inline-block;
    position: static;
    border-radius: 8vw;
    height: 8vw;
    width: 8vw;
    text-align: center;
    line-height: 8vw;
    margin: 0;
    padding: 0;
    background-color: #848484;
    color: white;
    border: 1px solid white;
}

.bar {
    display: inline-block;
    position: static;
    border: 1.75px solid white;
    width: 10%;
    margin-left:-3px;
    margin-right:-3px;
    margin-bottom: 3px;
}

#step_color_wheel{
	display: inline-block;
	height: 40px;
	width: 40px;
	margin-left: 0.75em;
	margin-right: 0.75em;
}

#step_name_bar{
	font-family:'ralewaysemibold','HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
	text-transform:uppercase;
	color:white; 
	font-weight:bolder;  
	display: inline-block;
	font-size: 6vw;
}

#step_subname_bar{
	font-family:'ralewaylight','HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
	color:#848484;
	margin-left: 0.5em;
	font-weight:bold; 
	display: inline-block;
	font-size: 4vw;
}

#step_time_limit{
	font-family:'ralewaysemibold','HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
	color:#848484;  
	margin-left:2vw;
	padding-bottom:5vw;
	/*font-weight:bolder;*/
	font-size:4em; 
	display:inline-block;
}

#time-icon{
	max-height: 1em;
	margin-top:auto;
	margin-bottom:auto;
	font-size:4em; 
	display:inline-block;
}